.flex-display {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

.flex-display>div.item {
  flex: 1;
  margin-right: 10px;
}

.flex-display>div>a {
  margin: 0 5px;
}

.flex-display .has-error .form-control {
  border-color: #dd4b39;
}

.flex-display .has-error .help-block {
  color: #dd4b39;
}

.host-well {
  border-top: 1px solid #cccccc;
  padding: 5px 0;
}