@section links
{
  <environment Names="Development">
    <link rel="stylesheet" asp-href-include="assets/css/**/*.css" asp-href-exclude="assets/css/min/" asp-append-version="true" />    
  </environment>

  <environment Names="Production">
    <link rel="stylesheet" asp-href-include="assets/css/min/*.min.css" asp-append-version="true" />
  </environment>
}

@section scripts
{
  <environment Names="Development">
    <script asp-src-include="assets/js/**/*.js" asp-src-exclude="assets/js/min/" asp-append-version="true"></script>
  </environment>

  <environment Names="Production">
    <script asp-append-version="true" asp-src-include="assets/js/min/*.min.js"></script>
  </environment>
  
}

<div id="monitor_global_loading">
  <div class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>
</div>
<simple-monitor-app>
  <div class="app_init">
		<div class="loading-center">
			<div class="loading-center-absolute">
				<div class="object object_one"></div>
				<div class="object object_two"></div>
				<div class="object object_three"></div>
				<div class="object object_four"></div>
				<div class="object object_five"></div>
				<div class="object object_six"></div>
				<div class="object object_seven"></div>
				<div class="object object_eight"></div>
				<div class="object object_big"></div>
			</div>
		</div>
	</div>
</simple-monitor-app>
