<div class="main-sidebar">
  <section class="sidebar">
    <div class="sidebar-form" *ngIf="enableSearch">
      <div class="input-group">
        <input type="text" autocomplete="off" class="form-control" placeholder="Search..." [ngModel]="filterValue" (ngModelChange)="searchValueChange($event)">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li *ngFor="let item of filterMenu;" [m-router-active]="{'url':'/groups/'+item.id+'/overview', 'cls': 'active', 'fullMatch': true}" [ngClass]="{ 'header': item.isHeader, 'treeview': item.subMenu && item.subMenu.length}">
        <span *ngIf="item.isHeader">{{ item.text }}</span>
        <a href="javascript:void(0)" *ngIf="!item.isHeader" (click)="menuClick(item)">
          <i [attr.class]="item.icon || 'fa fa-tag'"></i>
          <span>{{ item.text }}</span>
          <span class="pull-right-container" *ngIf="item.subMenu && item.subMenu.length">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" *ngIf="!item.isHeader && item.subMenu && item.subMenu.length">
          <li *ngFor="let subItem of item.subMenu;">
            <a href="javascript:void(0)" (click)="menuClick(subItem, item)">
              <i class="fa fa-circle-o"></i> {{ subItem.text }}
            </a>
          </li>
        </ul>
      </li>      
    </ul>
    <div class="sidebar-bottom">
      <ng-content></ng-content>
    </div>
  </section>
</div>